<div>
  <!-- first navbar -->
<div class="bg-success text-white">
<nav class="navbar navbar-expand-lg bg-success text-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 md-4">
        <li class="nav-item" style="width: 600px;">
          <a class="nav-link active" aria-current="page"><i class="bi bi-square"></i>1418 Riverwood Drive. CA 96052, US</a>
        </li>
        <li class="nav-item" style="width: 700px;" >
          <a class="nav-link"><b>Welcome to Fastkart!</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">English &nbsp;<i class="bi bi-square"></i>&nbsp; |&nbsp; USD&nbsp;<i class="bi bi-square"></i></a>
        </li>
       
      </ul>
     </div>
  </div>
</nav>
</div>
<!-- second navbar -->
<div class="p-3 mb-2 bg-light text-dark" >
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 md-4">
          <li class="nav-item" style="width: 400px;">
           <h3><span style="color: green;">Fast</span><span style="color: black;">kart</span></h3>
          </li>
          <li class="nav-item" style="width: 900px;">
            <i class="bi bi-geo-alt"></i>
            <input style="color: green;" type="text" placeholder="Your Location">
            <input style="width: 300px;" type="text" placeholder="I'm searching for...">
            <label style="background-color: orange; width: 25px; height: 25px;"><i class="bi bi-search"></i></label>
          </li>
          <li class="nav-item">
            <i class="bi bi-telephone"></i>&nbsp;&nbsp;
            <i class="bi bi-heart"></i>&nbsp;&nbsp;
            <i class="bi bi-cart"></i>&nbsp;&nbsp;
            <i class="bi bi-person"></i>
          </li>
         </ul>
       </div>
    </div>
  </nav>
  </div>
  <!-- third navbar -->
  <div class="p-3 mb-2 bg-light text-dark">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 md-4">
            <li class="nav-item" style="width: 200px; background-color: green;">
             <a>All Categorie</a>
            </li>
            <li class="nav-item" style="width: 900px;">
              <i class="bi bi-geo-alt"></i>
              <input style="color: green;" type="text" placeholder="Your Location">
              <input style="width: 300px;" type="text" placeholder="I'm searching for...">
              <label style="background-color: orange; width: 25px; height: 25px;"><i class="bi bi-search"></i></label>
            </li>
            <li class="nav-item">
              <i class="bi bi-telephone"></i>&nbsp;&nbsp;
              <i class="bi bi-heart"></i>&nbsp;&nbsp;
              <i class="bi bi-cart"></i>&nbsp;&nbsp;
              <i class="bi bi-person"></i>
            </li>
           </ul>
         </div>
      </div>
    </nav>
    </div>
</div>